<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="/postcss.css">
    
  </head>
  <body>
    <%- include('menu.html') %>
    <div class="blog_name"><strong>전체 게시물</strong></div>
    <div class="layout_content">
        <% if(post != undefined){ %>
          <!--포스트를 화면에 띄움-->
          <% for (let i = 0; i < post.length; i++){ %>
          <div class="post content">
            <!-- 제목을 클릭하면 블로그로 이동-->
            <a href="/list/<%= post[i].userid %>"><strong class="title text"><%= post[i].title %></strong></a>
            <p></p>
            <!--유닉스 시간을 년 월 일로 변환하여 표시-->
            <% let postdata = new Date(post[i].date) %>
            <%= post[i].Username %><div class="postdate"><%= postdata.toLocaleDateString() %></div>
            <p></p>
            <!-- 줄 바꿈을 표시하기 위해 br태그로 바꿔서 표시-->
            <p class="text"><%- post[i].content.replace(/\n/g, '<br>') %></p>
            <% if (post[i].type == null) { %>
            <!-- 첨부파일 타입이 image일 경우-->
            <% }else if(post[i].type.startsWith('image')) { %>
              <img src="<%= post[i].path %>">
            <!-- 첨부파일 타입이 txt파일일 경우-->
            <%}else if (post[i].type == 'text/plain') { %>
              <iframe src="<%= post[i].path %>" width="700" frameborder="0"></iframe>
            <% } %>
            <p></p>
          </div>
          <p></p>
            <% } %>
        <% } %>
        <!-- 화면 오른쪽-->
        <div class="aside">
          <!-- 내 블로그 가기-->
          <button type="button" onclick="location.href = '/list/<%=user.userid%>'" class = "menu btn btn-primary">내 블로그 가기</button>
          <!-- 로그아웃 버튼-->
          <button type="button" onclick="location.href = '/logout'" class="menu btn btn-primary">로그아웃</button>
          <p></p>
          <ul class="list-group list-group-horizontal">
            <li class="list-group-item">이웃목록</li>
          </ul>
          <!-- 이웃목록이 비어있지 않다면-->
          <% if(user.neighbor != undefined){ %>
          <% for(let i = 0; i < user.neighbor.length; i+=2){ %>
            <ul class="list-group list-group-horizontal">
              <!-- 이웃 이름을 클릭하면 이웃 블로그로 이동-->
              <li class="list-group-item"><a href="/list/<%=user.neighborId[i] %>"><%= user.neighbor[i] %></a></li>
              <li class="list-group-item"><a href="/list/<%=user.neighborId[i+1] %>"><%= user.neighbor[i + 1] %></a></li>
            </ul>
          <% } %>
          <% } %>
        </div>
    </div>  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

  </body>
</html>